<header class="header_section">
	<div class="container-fluid position-fixed" style="z-index: 3;">
		<div class="row">
			<nav class="navbar navbar-dark bg-fkdark pd-l-45">
				{# position-fixed en el nav también funciona #}
				<div class="col-6">
					<div class="d-flex">
						<div>
							<a class="navbar-brand rotate180" href="#">
								<img src="img/navbar/fakeit.svg" width="30" height="40" class="d-inline-block align-top" alt="Fakeit-Logo">
							</a>
						</div>
						<div class="ml-3 d-xs-none">
							<a class="navbar-brand" href="#">
								<img src="img/navbar/fakeitbrand.png" width="120" height="40" class="d-inline-block align-top" alt="Fakeit-Brand">
							</a>
						</div>
					</div>
				</div>
				<div class="col-6">
					<div class="d-flex" style="float: right;">
						<div class="mr-4">
							<a href="{{ path('app_register') }}" id="loginA" class="btn btn-primary btn-main">CREAR CUENTA</a>
						</div>
						<div>
							<a id="loginB" class="btn btn-primary btn-main" data-toggle="modal" data-target="#modalLog">INICIAR SESIÓN</a>
						</div>
					</div>
				</div>
			</nav>
			<hr/>
		</div>
	</div>
</header>
