<header class="header_section" style="height: 66px">
	<div class="container-fluid position-fixed" style="z-index: 3;">
		<div class="row" style="height: 66px"> 
			<nav class="navbar navbar-dark bg-fkdark pd-l-45">
				{# position-fixed en el nav también funciona #}
				<div class="col-12">	
					<a class="navbar-brand rotate180" href="/">
						<img src="img/navbar/fakeit.svg" width="30" height="40" class="d-inline-block align-top" alt="Fakeit-Logo">
					</a>
					<a class="navbar-brand" href="/">
						<img src="img/navbar/fakeitbrand.png" width="120" height="40" class="d-inline-block align-top" alt="Fakeit-Brand">
					</a>
				</div>
			</nav>
			<hr/>
		</div>
	</div>
</header>